In [1]:
# Importando bibliotecas
from ucimlrepo import fetch_ucirepo
import os
from datetime import datetime 

# Definindo paths
path_codigos = os.getcwd()
path_projeto = os.path.dirname(path_codigos)
path_data = os.path.join(path_projeto, "02_data")
path_bronze = os.path.join(path_data, "01_bronze")
path_silver = os.path.join(path_data, "02_silver")

In [2]:
# Importando dados
adult = fetch_ucirepo(id = 2)

# Capturando dataset
adult_dataset = adult.data.original

del adult

# Salvando na bronze layer
adult_dataset.to_parquet(os.path.join(path_bronze, "adult_dataset.parquet"), index = False)

# Criando coluna de adult_id e event_timestamp
adult_dataset = adult_dataset.reset_index()
adult_dataset = adult_dataset.reset_index()
adult_dataset = adult_dataset.rename(columns = {"index": "adult_id"})
adult_dataset = adult_dataset.rename(columns = {"level_0": "event_timestamp"})

# Populando coluna de timestamp
adult_dataset["event_timestamp"] = datetime(2022,10,1)
adult_dataset.loc[(10000 < adult_dataset["adult_id"]) & (adult_dataset["adult_id"] <= 20000), "event_timestamp"] = datetime(2023,3,1)
adult_dataset.loc[(20000 < adult_dataset["adult_id"]) & (adult_dataset["adult_id"] <= 30000), "event_timestamp"] = datetime(2023,10,1)
adult_dataset.loc[(30000 < adult_dataset["adult_id"]) & (adult_dataset["adult_id"] <= 48000), "event_timestamp"] = datetime(2024,3,1)
adult_dataset.loc[48000 < adult_dataset["adult_id"], "event_timestamp"] = datetime(2024,10,1)

# Dividindo dados em dados históricos e dados de inferência
adult_dataset_hist = adult_dataset.loc[adult_dataset["adult_id"] <= 48000].copy().reset_index(drop = True)
adult_dataset_inf = adult_dataset.loc[48000 < adult_dataset["adult_id"]].copy().reset_index(drop = True).drop(columns = ["income"])

# Salvando na silver layer
adult_dataset_hist.to_parquet(os.path.join(path_silver, "adult_dataset_hist.parquet"), index = False)
adult_dataset_inf.to_parquet(os.path.join(path_silver, "adult_dataset_inf.parquet"), index = False)

adult_dataset_hist.info()
display(adult_dataset_inf)

adult_dataset_inf.info()
display(adult_dataset_inf)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48001 entries, 0 to 48000
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_timestamp  48001 non-null  datetime64[us]
 1   adult_id         48001 non-null  int64
 2   age              48001 non-null  int64
 3   workclass        47097 non-null  object
 4   fnlwgt           48001 non-null  int64
 5   education        48001 non-null  object
 6   education-num    48001 non-null  int64
 7   marital-status   48001 non-null  object
 8   occupation       47094 non-null  object
 9   relationship     48001 non-null  object
 10  race             48001 non-null  object
 11  sex              48001 non-null  object
 12  capital-gain     48001 non-null  int64
 13  capital-loss     48001 non-null  int64
 14  hours-per-week   48001 non-null  int64
 15  native-country   47734 non-null  object
 16  income           48001 non-null  object
dtypes: datetime64[us](1), int64(7), object(9)
memory usage: 6.2+ MB

,event_timestamp,adult_id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,2024-10-01,48001,32,Local-gov,205931,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,37,United-States
1,2024-10-01,48002,40,Federal-gov,105119,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
2,2024-10-01,48003,58,Self-emp-not-inc,200316,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
3,2024-10-01,48004,17,Private,132859,10th,6,Never-married,Other-service,Other-relative,White,Male,0,0,35,United-States
4,2024-10-01,48005,57,Private,137031,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,2024-10-01,48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
837,2024-10-01,48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
838,2024-10-01,48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
839,2024-10-01,48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
840,2024-10-01,48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841 entries, 0 to 840
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_timestamp  841 non-null    datetime64[us]
 1   adult_id         841 non-null    int64
 2   age              841 non-null    int64
 3   workclass        782 non-null    object
 4   fnlwgt           841 non-null    int64
 5   education        841 non-null    object
 6   education-num    841 non-null    int64
 7   marital-status   841 non-null    object
 8   occupation       782 non-null    object
 9   relationship     841 non-null    object
 10  race             841 non-null    object
 11  sex              841 non-null    object
 12  capital-gain     841 non-null    int64
 13  capital-loss     841 non-null    int64
 14  hours-per-week   841 non-null    int64
 15  native-country   834 non-null    object
dtypes: datetime64[us](1), int64(7), object(8)
memory usage: 105.3+ KB

,event_timestamp,adult_id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,2024-10-01,48001,32,Local-gov,205931,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,37,United-States
1,2024-10-01,48002,40,Federal-gov,105119,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
2,2024-10-01,48003,58,Self-emp-not-inc,200316,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
3,2024-10-01,48004,17,Private,132859,10th,6,Never-married,Other-service,Other-relative,White,Male,0,0,35,United-States
4,2024-10-01,48005,57,Private,137031,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,2024-10-01,48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
837,2024-10-01,48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
838,2024-10-01,48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
839,2024-10-01,48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
840,2024-10-01,48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States